<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{headFragment :: head('Editar animal')}"><meta charset="UTF-8"></head>
<body>
	<nav th:replace="~{menuFragment :: nav()}"></nav>
	<div class="container mt-5">
		<h2 class="text-center">Editar Animal</h2>
		<form method="put" class="mt-12" th:object="${animal}" id='frmAnimal'
			action="/animal/edit/{id}">
			<input type="hidden" name="id" th:value="${animal.id}" />
			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Nome</span> <input type="text"
							class="form-control" th:value="${animal.nome}" name="nome" id="nome" placeholder="Totó" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Raça</span> <input type="text"
							class="form-control" th:value="${animal.raca}" name="raca" id="raca" placeholder="Bulldog" />
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Especie</span> <input type="text"
							class="form-control" th:value="${animal.especie}" name="especie" id="especie" placeholder="Cachorro" />
					</div>
				</div>
				<div class="col-md-6">
					<div class="input-group mb-3 input-group-sm">
						<span class="input-group-text">Idade</span> <input type="number"
							class="form-control" th:value="${animal.idade}" name="idade" id="idade" placeholder="7" />
					</div>
				</div>
			</div>
			<input class="btn btn-success" type="button"
				value="Salvar Animal" onclick="salvar();" />
		</form>
	</div>

</body>
<script>
	
	let responseEntity;
	
	function salvar() {
		/*if (validar())
			return;*/

		const form = document.getElementById('frmAnimal');
		const formData = new FormData(form); // create FormData object
		const jsonBody = JSON.stringify(Object.fromEntries(formData.entries()));
		var myHeaders = new Headers();
		myHeaders.append("Content-Type", "application/json");

		var requestOptions = {
			method: 'POST',
			headers: myHeaders,
			body: jsonBody,
			redirect: 'follow'
		};

		fetch("/animal/create", requestOptions)
			.then(response => {
				responseEntity = response
				return response.json()
			})
			.then(result => tratarRedirect(result, responseEntity))
			.catch(error => console.log('error', error));
	}
	
	async function tratarRedirect(data, response) {
		if (response.ok) {
			alert('Editado com sucesso')
				
			await new Promise(r => setTimeout(r, 2000));
			window.location.href = "/animal";
			return;
		}
		let erros = document.getElementById('erros');
		erros.innerHTML = '';
		let itemList = '';

		/*if (data.hasOwnProperty('nome'))
			itemList = `<li class="text-danger">${data.nome}</li>`;

		if (data.hasOwnProperty('idCategoria'))
			itemList += `<li class="text-danger">${data.idCategoria}</li>`;*/

		erros.innerHTML = itemList;
	}
</script>
</html>
